In [1]:
from scipy.stats import truncnorm
import pandas as pd
import numpy as np
import itertools
import datetime
import tqdm
import sys
import os

def flatten_list(list_array):
    return list(itertools.chain(*list_array))

sys.path.insert(0,"../")
from global_config import config

results_dir           = config.get_property('results_dir')
data_dir              = config.get_property('data_dir')
data_db_dir           = config.get_property('data_db_dir')
feb_hosp_records_path = os.path.join(data_db_dir, 'long_files_8_25_2021')
path_to_save          = os.path.join(results_dir, "real_testing", "community")

# import plotting stuff
from plot_utils import *

# import data loading stuff
from data_utils import load_movement_df

In [2]:
path_to_data = os.path.join('..', 'data')
movement_df, ward2cluster = load_movement_df(path_to_data, True)

/var/folders/7p/jp6xqkvn5wb6ddl1fn0bhs980000gn/T/ipykernel_4153/1798638361.py:2: DtypeWarning: Columns (0,1,4,8) have mixed types.Specify dtype option on import or set low_memory=False.
  movement_df, ward2cluster = load_movement_df(path_to_data, True)

In [3]:
movement_df

,ward,first_day,cluster_id,ward_id,mrn_id,test,specimen,specimen_group,organism_name,organism_id
date,,,,,,,,,,
2020-02-01,Presbyterian Hospital-Pby Adult Emergency,1,1,0,0,0,NaN,NaN,NaN,NaN
2020-02-01,Presbyterian Hospital-Pby Adult Emergency,1,1,0,1,0,NaN,NaN,NaN,NaN
2020-02-01,Allen Hospital-Aln Emergency,1,1,1,2,0,NaN,NaN,NaN,NaN
2020-02-01,Presbyterian Hospital-Pby Adult Emergency,1,1,0,3,0,NaN,NaN,NaN,NaN
2020-02-01,Allen Hospital-Aln Emergency,1,1,1,4,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2021-02-28,Allen Hospital-Aln Emergency,1,1,1,103517,1,"Blood, Peripheral",Blood,ENTEROCOCCUS FAECALIS,1000882.0
2021-02-28,Presbyterian Hospital-Pby Adult Emergency,1,1,0,103518,0,NaN,NaN,NaN,NaN
2021-02-28,Presbyterian Hospital-Pby Adult Emergency,1,1,0,103519,0,NaN,NaN,NaN,NaN
2021-02-28,Allen Hospital-Aln Emergency,1,1,1,103520,0,NaN,NaN,NaN,NaN
2021-02-28,Mschony-Msch Emergency,1,4,6,103521,0,NaN,NaN,NaN,NaN